<div>
  <h3>Juros Compostos</h3>

  <div>
    Capital total emprestado:
    <input placeholder="Capital" type="number" [(ngModel)]="c" />
  </div>
  <div>
    Taxa de Juros ao mês
    <input type="number" placeholder="Taxa" [(ngModel)]="i" />
  </div>
  <div>
    Total de meses para pagar
    <input type="number" placeholder="Tempo" [(ngModel)]="t" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Mês</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td>{{t}}</td>
        <td>R${{getJuros()}}</td>
      </tr>
    </thead>
  </table>
</div>
